.grid-container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 16px;
}

.grid-left {
    display: grid;
    grid-row-gap: 16px;
    grid-template-rows: min-content;
}

.grid-row {
    /* Add any additional styles for the grid-row, if needed */

}

.MuiInputBase-root {
    height: 36px;
    padding: 0 0 0 6px !important;
}

.MuiInputBase-root {
    height: 36px;
    padding: 0 9px 0 0;
}

.MuiInputBase-root input {
    padding: 0;
}

.MuiAccordion-root {
    background-color: rgba(255, 255, 255, 0.12);
    color: inherit;
}

.MuiInputBase-root {
    color: inherit !important;
    background-color: inherit !important;
    height: 36px;
    padding: 0 0 0 6px !important;
}

.MuiAccordion-root {
    color: inherit !important;
    background-color: rgba(255, 255, 255, 0.12) !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
}

.MuiSvgIcon-root {
    filter: invert(56%) sepia(0%) saturate(1112%) hue-rotate(144deg) brightness(90%) contrast(88%);
}