/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/farming/page.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.strokeBlack {
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.outerExplanation {
    border: 1px solid black;
    margin: -1px 0 0 0;
    /* margin:'6px 0 0 0'; */
}

.dot {
    width: 6px;
    min-width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: black;
}

.explanationLeft {
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
    border: 1px solid black;
    margin: -1px 0 -1px -1px;
    padding: 3px 0 3px 3px;
}

.innerExplanationShort {
    font-Weight: bold;
    margin: 0 6px 0 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explanationInner {
    margin: 3px;
}

.graySeperator {
    background-color: lightgray;
    height: 6px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid blue;
}

.calcHeaderPlantTab {
    box-sizing: border-box;
    width: 115px;
    min-width: 115px;
    text-align: center;
    border-bottom: 2px solid blue;
    border-top:1px solid blue;
}

.calcHeader {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
}


.calcInfo {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: 2px solid blue;
    border-bottom: 1px solid black;
    height: 50px;
    padding-right: 6px;
}

.futurePicExplanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: 2px solid blue;
    height: 24px;
    padding-right: 6px;
}


.autoPicSuggestion {
    width: 115px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

.futurePicHolder {
    width: 114px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcResult {
    margin: 0 0 1px 0;
    border: 5px solid transparent;
    padding: 0 0;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
    /* height: 400px; */
    /* max-width: calc(100% - 10px); */
}


.suggestionHolder {
    box-sizing: border-box;
    width: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.bestSuggestion {
    width: 113px;
    margin-right: 3px;
    margin-top: 1px;
    margin-left: 3px;
    margin-bottom: 0;
    border: 1px solid black;
    /* padding: 0 0px 0 3px; */
}

/* .rainbowLeft {
    border-left: 5px solid transparent;
    border-image: linear-gradient(to bottom left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; 
} */
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/react-push-notification/dist/notifications/Notification.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************/
.rpn-notification-holder {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100000;
}

.rpn-notification-holder.top-left {
    left: 10px;
}

.rpn-notification-holder.top-middle {
    left: 50%;
    transform: translateX(-50%);
}

.rpn-notification-holder.top-right {
    right: 30px;
}

.rpn-notification-holder.bottom-left {
    left: 10px;
    bottom: 10px;
}

.rpn-notification-holder.bottom-middle {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.rpn-notification-holder.bottom-right {
    right: 30px;
    bottom: 10px;
}

.rpn-notification-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 15px; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
    animation: fadein 0.2s;
}

.rpn-notification-card-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: bold;
    font-size: 11px;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px 5px 0 0;

}

.rpn-notification-card-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 15px 10px;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    box-shadow: 0 5px 0px 0px rgb(0, 0, 0);
}

.rpn-notification-card-bottom span {
    padding: 3px 0;
}

.rpn-notification-card-bottom .subtitle {
    font-weight: bold;
    font-size: 12px;
}

.rpn-notification-card-bottom .message {
    font-size: 14px;
}

.rpn-notification-card-close {
    font-size: 10px;
    cursor: pointer;
    height: 100%;
}

.rpn-notification-card-top.light {
    background-color: rgb(240, 240, 240);
    color: black;
}

.rpn-notification-card-bottom.light {
    background-color: rgb(245, 245, 245);
    color: black;
    box-shadow: 0 5px 0px 0px rgb(218, 217, 217);
}

.rpn-notification-card-top.darkblue {
    background-color: #2d3542;
    color: white;
}

.rpn-notification-card-bottom.darkblue {
    background-color: #394357;
    color: white;
    box-shadow: 0 5px 0px 0px #1f2b42;

}

.rpn-notification-card-top.red {
    background-color: rgb(187, 37, 37);
    color: white;
}

.rpn-notification-card-bottom.red {
    background-color: #D32F2F;
    color: white;
    box-shadow: 0 5px 0px 0px rgb(145, 1, 1);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */

/* Internet Explorer */

/* Opera < 12.1 */
