.strokeBlack {
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.outerExplanation {
    border: 1px solid black;
    margin: -1px 0 0 0;
    /* margin:'6px 0 0 0'; */
}

.dot {
    width: 6px;
    min-width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: black;
}

.explanationLeft {
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
    border: 1px solid black;
    margin: -1px 0 -1px -1px;
    padding: 3px 0 3px 3px;
}

.innerExplanationShort {
    font-Weight: bold;
    margin: 0 6px 0 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explanationInner {
    margin: 3px;
}

.graySeperator {
    background-color: rgba(211, 211, 211, 0.424);
    height: 6px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(0, 119, 255, 0.563);
}

.calcHeaderPlantTab {
    box-sizing: border-box;
    width: 115px;
    min-width: 115px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 119, 255, 0.563);
    border-top: 1px solid rgba(0, 119, 255, 0.563);
}

.calcHeader {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
}


.calcInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: 2px solid rgba(0, 119, 255, 0.563);
    border-bottom: 1px solid white;
    height: 50px;
    padding-right: 6px;
}

.futurePicExplanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: 2px solid rgba(0, 119, 255, 0.563);
    height: 24px;
    padding-right: 6px;
}


.autoPicSuggestion {
    width: 115px;
    height: 54px;
    text-align: center;
    border-bottom: 1px solid white;
}

.futurePicHolder {
    width: 114px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcResult {
    margin: 0 0 1px 0;
    border: 5px solid transparent;
    padding: 0 0;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
    /* height: 400px; */
    /* max-width: calc(100% - 10px); */
}


.suggestionHolder {
    box-sizing: border-box;
    width: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.bestSuggestion {
    width: 113px;
    margin-right: 3px;
    margin-top: 1px;
    margin-left: 3px;
    margin-bottom: 0;
    border: 1px solid white;
    /* padding: 0 0px 0 3px; */
}

text {
    fill: white !important;
}

.recharts-tooltip-label {
    color: black;
}

/* .rainbowLeft {
    border-left: 5px solid transparent;
    border-image: linear-gradient(to bottom left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; 
} */